In [2]:
%load_ext sql

In [3]:
%sql mysql+pymysql://root:DSEfe0507727182@127.0.0.1:3306/uni_admission

In [8]:
%%sql 

SELECT *
FROM university_admission_russia
LIMIT 5

 * mysql+pymysql://root:***@127.0.0.1:3306/uni_admission
5 rows affected.

[(1, 'Higher Education', "Bachelor's degree", 'Scholarship / tuition-free', 1, 'Mathematical and Natural Sciences', 'Mathematics and Mechanics', 2014, 47923, 7144),
 (2, 'Higher Education', "Bachelor's degree", 'Scholarship / tuition-free', 1, 'Mathematical and Natural Sciences', 'Computer Science', 2014, 28787, 3238),
 (3, 'Higher Education', "Bachelor's degree", 'Scholarship / tuition-free', 1, 'Mathematical and Natural Sciences', 'Physics and Astronomy', 2014, 23906, 4391),
 (4, 'Higher Education', "Bachelor's degree", 'Scholarship / tuition-free', 1, 'Mathematical and Natural Sciences', 'Chemistry', 2014, 25930, 2367),
 (5, 'Higher Education', "Bachelor's degree", 'Scholarship / tuition-free', 1, 'Mathematical and Natural Sciences', 'Earth Science', 2014, 43434, 6745)]

In [6]:
%%sql 

SELECT DISTINCT Year
FROM university_admission_russia

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [21]:
%%sql 

SELECT DISTINCT `Number of Applications`
FROM university_admission_russia
LIMIT 5

 * mysql+pymysql://root:***@127.0.0.1:3306/uni_admission
5 rows affected.

[(47923,), (28787,), (23906,), (25930,), (43434,)]

In [9]:
%%sql 

SELECT SUM(`Number of Applications`)
FROM university_admission_russia

 * mysql+pymysql://root:***@127.0.0.1:3306/uni_admission
1 rows affected.

[(Decimal('81242082'),)]

The above is the gross sum of all the application in the Uni.

In [11]:
%%sql 

SELECT SUM(`Number of Applications`) as Total_No_Application
FROM university_admission_russia

 * mysql+pymysql://root:***@127.0.0.1:3306/uni_admission
1 rows affected.

[(Decimal('81242082'),)]

The above is the gross sum of all the application in the Uni. N.B: That adding the Alliance syntax "as Total_No_Application" makes the column title different.

### The total applications per year in the data set.

In [16]:
%%sql 

SELECT Year, SUM(`Number of Applications`) as Total_No_Application
FROM university_admission_russia
GROUP BY Year

 * mysql+pymysql://root:***@127.0.0.1:3306/uni_admission
10 rows affected.

[(2014, Decimal('5909095')),
 (2015, Decimal('5946155')),
 (2016, Decimal('6591943')),
 (2017, Decimal('6734044')),
 (2018, Decimal('7313275')),
 (2019, Decimal('7689487')),
 (2020, Decimal('9004885')),
 (2021, Decimal('9699511')),
 (2022, Decimal('10682268')),
 (2023, Decimal('11671419'))]

In [20]:
%%sql 

SELECT Year, SUM(`Number of Applications`) as Total_No_Application
FROM university_admission_russia
GROUP BY Year
ORDER BY Total_No_Application DESC

 * mysql+pymysql://root:***@127.0.0.1:3306/uni_admission
10 rows affected.

[(2023, Decimal('11671419')),
 (2022, Decimal('10682268')),
 (2021, Decimal('9699511')),
 (2020, Decimal('9004885')),
 (2019, Decimal('7689487')),
 (2018, Decimal('7313275')),
 (2017, Decimal('6734044')),
 (2016, Decimal('6591943')),
 (2015, Decimal('5946155')),
 (2014, Decimal('5909095'))]

The above is the total number of application per year in the Uni admission. The table is arranged with the highest to the lowest (DESC ORDER). The highest number of applications were received in 2023 and the lowest received in 2014.

In [22]:
%%sql 

SELECT `Branches of Science` as Faculty, SUM(`Number of Applications`) as Total_No_Application
FROM university_admission_russia
GROUP BY Faculty
ORDER BY Total_No_Application DESC

 * mysql+pymysql://root:***@127.0.0.1:3306/uni_admission
10 rows affected.

[('Engineering and Technology', Decimal('30163032')),
 ('Social Sciences', Decimal('24557142')),
 ('Healthcare and Medicine', Decimal('7357729')),
 ('Education Sciences and Pedagogy', Decimal('7112929')),
 ('Humanities', Decimal('3523491')),
 ('Mathematical and Natural Sciences', Decimal('3501681')),
 ('Agriculture', Decimal('2512689')),
 ('Arts and Culture', Decimal('2410148')),
 ('Oriental and African Studies', Decimal('102459')),
 ('Military Science', Decimal('782'))]

The ten years (2014-2023) total number of applications in the Uni per Faculty (Branches of Science) arranged in a Desc ORDER. The analysis revealed that Engineering and Technology had the highest number of applications while Military Science had the least.

In [23]:
%%sql 

SELECT DISTINCT `Tuition fees`
FROM university_admission_russia

 * mysql+pymysql://root:***@127.0.0.1:3306/uni_admission
2 rows affected.

[('Scholarship / tuition-free',), ('Full pay / tuition fee',)]

In [24]:
%%sql 

SELECT COUNT(`Tuition fees`)
FROM university_admission_russia

 * mysql+pymysql://root:***@127.0.0.1:3306/uni_admission
1 rows affected.

[(5016,)]

In [25]:
%%sql 

SELECT DISTINCT `Tuition fees`
FROM university_admission_russia

 * mysql+pymysql://root:***@127.0.0.1:3306/uni_admission
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'DISTINCT `Tuition fees`\nFROM university_admission_russia' at line 1")
[SQL: SELECT COUNT DISTINCT `Tuition fees`
FROM university_admission_russia]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [26]:
%%sql 

SELECT `Tuition fees`, COUNT(`Tuition fees`)
FROM university_admission_russia
GROUP BY `Tuition fees`

 * mysql+pymysql://root:***@127.0.0.1:3306/uni_admission
2 rows affected.

[('Scholarship / tuition-free', 2736), ('Full pay / tuition fee', 2280)]

The synthax 
%%sql 

SELECT `Tuition fees`, COUNT(`Tuition fees`)
FROM university_admission_russia
GROUP BY `Tuition fees`

was used to get the aggregates of the different categories of tuition fees in the data set. 
The tuition fee count was 5016 and the syntax for it is 
%%sql 

SELECT COUNT(`Tuition fees`)
FROM university_admission_russia

In [30]:
%%sql 

SELECT Year, `Branches of Science` as Faculty, SUM(`Number of Students`) as Total_Admission
FROM university_admission_russia
GROUP BY Year, Faculty
ORDER BY Total_Admission DESC

 * mysql+pymysql://root:***@127.0.0.1:3306/uni_admission
100 rows affected.

[(2023, 'Engineering and Technology', Decimal('972960')),
 (2022, 'Engineering and Technology', Decimal('897451')),
 (2020, 'Engineering and Technology', Decimal('855784')),
 (2016, 'Engineering and Technology', Decimal('850676')),
 (2019, 'Engineering and Technology', Decimal('847046')),
 (2018, 'Engineering and Technology', Decimal('832918')),
 (2021, 'Engineering and Technology', Decimal('828855')),
 (2017, 'Engineering and Technology', Decimal('827308')),
 (2023, 'Social Sciences', Decimal('780648')),
 (2022, 'Social Sciences', Decimal('717968')),
 (2021, 'Social Sciences', Decimal('687219')),
 (2020, 'Social Sciences', Decimal('686045')),
 (2019, 'Social Sciences', Decimal('671716')),
 (2017, 'Social Sciences', Decimal('669387')),
 (2018, 'Social Sciences', Decimal('669345')),
 (2016, 'Social Sciences', Decimal('662283')),
 (2015, 'Engineering and Technology', Decimal('455596')),
 (2014, 'Engineering and Technology', Decimal('435116')),
 (2023, 'Healthcare and Medicine', Decimal('220347')),
 (2023, 'Education Sciences and Pedagogy', Decimal('202524')),
 (2022, 'Healthcare and Medicine', Decimal('195369')),
 (2022, 'Education Sciences and Pedagogy', Decimal('194227')),
 (2021, 'Education Sciences and Pedagogy', Decimal('183023')),
 (2021, 'Healthcare and Medicine', Decimal('181634')),
 (2020, 'Healthcare and Medicine', Decimal('176534')),
 (2019, 'Education Sciences and Pedagogy', Decimal('174670')),
 (2018, 'Education Sciences and Pedagogy', Decimal('171660')),
 (2020, 'Education Sciences and Pedagogy', Decimal('170055')),
 (2017, 'Education Sciences and Pedagogy', Decimal('165678')),
 (2019, 'Healthcare and Medicine', Decimal('165230')),
 (2016, 'Education Sciences and Pedagogy', Decimal('163122')),
 (2015, 'Social Sciences', Decimal('162894')),
 (2014, 'Social Sciences', Decimal('159494')),
 (2018, 'Healthcare and Medicine', Decimal('157649')),
 (2017, 'Healthcare and Medicine', Decimal('150980')),
 (2016, 'Healthcare and Medicine', Decimal('146324')),
 (2022, 'Agriculture', Decimal('113875')),
 (2023, 'Agriculture', Decimal('110800')),
 (2020, 'Agriculture', Decimal('107274')),
 (2019, 'Agriculture', Decimal('106936')),
 (2021, 'Agriculture', Decimal('106771')),
 (2018, 'Agriculture', Decimal('105204')),
 (2017, 'Agriculture', Decimal('101562')),
 (2016, 'Agriculture', Decimal('100162')),
 (2015, 'Education Sciences and Pedagogy', Decimal('99829')),
 (2014, 'Education Sciences and Pedagogy', Decimal('96946')),
 (2023, 'Arts and Culture', Decimal('92608')),
 (2023, 'Humanities', Decimal('87312')),
 (2022, 'Arts and Culture', Decimal('86938')),
 (2022, 'Humanities', Decimal('84100')),
 (2021, 'Arts and Culture', Decimal('81118')),
 (2021, 'Humanities', Decimal('79850')),
 (2020, 'Humanities', Decimal('78686')),
 (2019, 'Humanities', Decimal('77382')),
 (2020, 'Arts and Culture', Decimal('76856')),
 (2018, 'Humanities', Decimal('75353')),
 (2015, 'Healthcare and Medicine', Decimal('74060')),
 (2014, 'Healthcare and Medicine', Decimal('73922')),
 (2019, 'Arts and Culture', Decimal('71231')),
 (2017, 'Humanities', Decimal('70983')),
 (2018, 'Arts and Culture', Decimal('69438')),
 (2016, 'Humanities', Decimal('69240')),
 (2017, 'Arts and Culture', Decimal('66846')),
 (2016, 'Arts and Culture', Decimal('65562')),
 (2015, 'Agriculture', Decimal('64049')),
 (2014, 'Agriculture', Decimal('62505')),
 (2023, 'Mathematical and Natural Sciences', Decimal('61568')),
 (2022, 'Mathematical and Natural Sciences', Decimal('61475')),
 (2021, 'Mathematical and Natural Sciences', Decimal('56383')),
 (2019, 'Mathematical and Natural Sciences', Decimal('55295')),
 (2018, 'Mathematical and Natural Sciences', Decimal('55289')),
 (2020, 'Mathematical and Natural Sciences', Decimal('54051')),
 (2017, 'Mathematical and Natural Sciences', Decimal('53066')),
 (2016, 'Mathematical and Natural Sciences', Decimal('51821')),
 (2015, 'Mathematical and Natural Sciences', Decimal('43815')),
 (2015, 'Arts and Culture', Decimal('41053')),
 (2014, 'Arts and Culture', Decimal('40527')),
 (2014, 'Mathematical and Natural Sciences', Decimal('39538')),
 (2015, 'Humanities', Decimal('37070')),
 (2014, 'Humanities', Decimal('35267')),
 (2022, 'Oriental and African Studies', Decimal('2329')),
 (2023, 'Oriental and African Studies', Decimal('2304')),
 (2020, 'Oriental and African Studies', Decimal('2109')),
 (2021, 'Oriental and African Studies', Decimal('2067')),
 (2019, 'Oriental and African Studies', Decimal('2000')),
 (2018, 'Oriental and African Studies', Decimal('1175')),
 (2020, 'Military Science', Decimal('17')),
 (2023, 'Military Science', Decimal('17')),
 (2018, 'Military Science', Decimal('15')),
 (2021, 'Military Science', Decimal('14')),
 (2022, 'Military Science', Decimal('13')),
 (2017, 'Military Science', Decimal('12')),
 (2019, 'Military Science', Decimal('12')),
 (2016, 'Military Science', Decimal('10')),
 (2014, 'Military Science', Decimal('1')),
 (2014, 'Oriental and African Studies', Decimal('0')),
 (2015, 'Oriental and African Studies', Decimal('0')),
 (2016, 'Oriental and African Studies', Decimal('0')),
 (2017, 'Oriental and African Studies', Decimal('0')),
 (2015, 'Military Science', Decimal('0'))]

In [33]:
%%sql 

SELECT Year, SUM(`Number of Applications`) as Total_No_Application, SUM(`Number of Students`) as Total_Admission
FROM university_admission_russia
GROUP BY Year
ORDER BY Total_No_Application, Total_Admission

 * mysql+pymysql://root:***@127.0.0.1:3306/uni_admission
10 rows affected.

[(2014, Decimal('5909095'), Decimal('943316')),
 (2015, Decimal('5946155'), Decimal('978366')),
 (2016, Decimal('6591943'), Decimal('2109200')),
 (2017, Decimal('6734044'), Decimal('2105822')),
 (2018, Decimal('7313275'), Decimal('2138046')),
 (2019, Decimal('7689487'), Decimal('2171518')),
 (2020, Decimal('9004885'), Decimal('2207411')),
 (2021, Decimal('9699511'), Decimal('2206934')),
 (2022, Decimal('10682268'), Decimal('2353745')),
 (2023, Decimal('11671419'), Decimal('2531088'))]

In [36]:
%%sql 

SELECT Year, SUM(`Number of Applications`) as Total_No_Application, SUM(`Number of Students`) as Total_Admission, (SUM(`Number of Applications`) -  SUM(`Number of Students`)) as UnSuccessful_Applicatns
FROM university_admission_russia
GROUP BY Year
ORDER BY Total_No_Application, Total_Admission

 * mysql+pymysql://root:***@127.0.0.1:3306/uni_admission
10 rows affected.

[(2014, Decimal('5909095'), Decimal('943316'), Decimal('4965779')),
 (2015, Decimal('5946155'), Decimal('978366'), Decimal('4967789')),
 (2016, Decimal('6591943'), Decimal('2109200'), Decimal('4482743')),
 (2017, Decimal('6734044'), Decimal('2105822'), Decimal('4628222')),
 (2018, Decimal('7313275'), Decimal('2138046'), Decimal('5175229')),
 (2019, Decimal('7689487'), Decimal('2171518'), Decimal('5517969')),
 (2020, Decimal('9004885'), Decimal('2207411'), Decimal('6797474')),
 (2021, Decimal('9699511'), Decimal('2206934'), Decimal('7492577')),
 (2022, Decimal('10682268'), Decimal('2353745'), Decimal('8328523')),
 (2023, Decimal('11671419'), Decimal('2531088'), Decimal('9140331'))]

In [50]:
%%sql 

SELECT 
    Year, 
    SUM(`Number of Applications`) as Total_No_Application, 
    SUM(`Number of Students`) as Total_Admission, 
    (SUM(`Number of Applications`) -  SUM(`Number of Students`)) as UnSuccessful_Applicatns,
    ((SUM(`Number of Students`)/SUM(`Number of Applications`))*100) as percentage_Acceptance_Rate,
    ((SUM(`Number of Applications`) -  SUM(`Number of Students`))/SUM(`Number of Applications`))*100) as Percentage_Rej_Rate,
FROM university_admission_russia
GROUP BY Year
ORDER BY Total_No_Application, Total_Admission

 * mysql+pymysql://root:***@127.0.0.1:3306/uni_admission
10 rows affected.

[(2014, Decimal('5909095'), Decimal('943316'), Decimal('4965779'), Decimal('15.9638')),
 (2015, Decimal('5946155'), Decimal('978366'), Decimal('4967789'), Decimal('16.4538')),
 (2016, Decimal('6591943'), Decimal('2109200'), Decimal('4482743'), Decimal('31.9966')),
 (2017, Decimal('6734044'), Decimal('2105822'), Decimal('4628222'), Decimal('31.2713')),
 (2018, Decimal('7313275'), Decimal('2138046'), Decimal('5175229'), Decimal('29.2351')),
 (2019, Decimal('7689487'), Decimal('2171518'), Decimal('5517969'), Decimal('28.2401')),
 (2020, Decimal('9004885'), Decimal('2207411'), Decimal('6797474'), Decimal('24.5135')),
 (2021, Decimal('9699511'), Decimal('2206934'), Decimal('7492577'), Decimal('22.7530')),
 (2022, Decimal('10682268'), Decimal('2353745'), Decimal('8328523'), Decimal('22.0341')),
 (2023, Decimal('11671419'), Decimal('2531088'), Decimal('9140331'), Decimal('21.6862'))]

In [54]:
%%sql 

SELECT 
    Year, 
    SUM(`Number of Applications`) as Total_No_Application, 
    SUM(`Number of Students`) as Total_Admission, 
    (SUM(`Number of Applications`) -  SUM(`Number of Students`)) as UnSuccessful_Applicatns,
    ((SUM(`Number of Students`)/SUM(`Number of Applications`))*100) as Percent_Accept_Rate,
    (((SUM(`Number of Applications`) -  SUM(`Number of Students`))/SUM(`Number of Applications`))*100) as Percent_Rej_Rate
FROM university_admission_russia
GROUP BY Year
ORDER BY Total_No_Application, Total_Admission

 * mysql+pymysql://root:***@127.0.0.1:3306/uni_admission
10 rows affected.

[(2014, Decimal('5909095'), Decimal('943316'), Decimal('4965779'), Decimal('15.9638'), Decimal('84.0362')),
 (2015, Decimal('5946155'), Decimal('978366'), Decimal('4967789'), Decimal('16.4538'), Decimal('83.5462')),
 (2016, Decimal('6591943'), Decimal('2109200'), Decimal('4482743'), Decimal('31.9966'), Decimal('68.0034')),
 (2017, Decimal('6734044'), Decimal('2105822'), Decimal('4628222'), Decimal('31.2713'), Decimal('68.7287')),
 (2018, Decimal('7313275'), Decimal('2138046'), Decimal('5175229'), Decimal('29.2351'), Decimal('70.7649')),
 (2019, Decimal('7689487'), Decimal('2171518'), Decimal('5517969'), Decimal('28.2401'), Decimal('71.7599')),
 (2020, Decimal('9004885'), Decimal('2207411'), Decimal('6797474'), Decimal('24.5135'), Decimal('75.4865')),
 (2021, Decimal('9699511'), Decimal('2206934'), Decimal('7492577'), Decimal('22.7530'), Decimal('77.2470')),
 (2022, Decimal('10682268'), Decimal('2353745'), Decimal('8328523'), Decimal('22.0341'), Decimal('77.9659')),
 (2023, Decimal('11671419'), Decimal('2531088'), Decimal('9140331'), Decimal('21.6862'), Decimal('78.3138'))]

The above is a tabular distri. of the Yr, No. of Appl., Admissions, Percentage Acceptance Rate, and the Percentage Rejection Rate in the Uni for 10 years (2014 to 2023)

N.B: Alias was used in the analysis to help represent the new headings i a prefered manner.
%%sql 

SELECT 
    Year, 
    SUM(`Number of Applications`) as Total_No_Application, 
    SUM(`Number of Students`) as Total_Admission, 
    (SUM(`Number of Applications`) -  SUM(`Number of Students`)) as UnSuccessful_Applicatns,
    ((SUM(`Number of Students`)/SUM(`Number of Applications`))*100) as Percent_Accept_Rate,
    (((SUM(`Number of Applications`) -  SUM(`Number of Students`))/SUM(`Number of Applications`))*100) as Percent_Rej_Rate
FROM university_admission_russia
GROUP BY Year
ORDER BY Total_No_Application, Total_Admission

In [10]:
%%sql 

SELECT *

FROM university_admission_russia
LIMIT 3

 * mysql+pymysql://root:***@127.0.0.1:3306/uni_admission
3 rows affected.

[(1, 'Higher Education', "Bachelor's degree", 'Scholarship / tuition-free', 1, 'Mathematical and Natural Sciences', 'Mathematics and Mechanics', 2014, 47923, 7144),
 (2, 'Higher Education', "Bachelor's degree", 'Scholarship / tuition-free', 1, 'Mathematical and Natural Sciences', 'Computer Science', 2014, 28787, 3238),
 (3, 'Higher Education', "Bachelor's degree", 'Scholarship / tuition-free', 1, 'Mathematical and Natural Sciences', 'Physics and Astronomy', 2014, 23906, 4391)]

In [11]:
%%sql 

SELECT DISTINCT `Group of Professions`
FROM university_admission_russia
WHERE `Group of Professions` = `Computer Science`

 * mysql+pymysql://root:***@127.0.0.1:3306/uni_admission
57 rows affected.

[('Mathematics and Mechanics',),
 ('Computer Science',),
 ('Physics and Astronomy',),
 ('Chemistry',),
 ('Earth Science',),
 ('Biological Sciences',),
 ('Architecture',),
 ('Construction Equipment and Technologies',),
 ('Information Technology',),
 ('Information Security',),
 ('Electronics, and Radio Engineering and Communication Systems',),
 ('Photonics, Instrument Engineering, Optical and Biotechnical Technologies',),
 ('Electrical and Thermal Power Engineering',),
 ('Nuclear Energy and Technology',),
 ('Mechanical Engineering',),
 ('Physics and Technical Sciences and Technologies',),
 ('Weaponry and Military Technology',),
 ('Chemical Technologies',),
 ('Industrial Ecology and Biotechnology',),
 ('Industrial Safety and Environmental Management',),
 ('Geology, Mining, Oil and Gas Engineering and Geodesy',),
 ('Material Technology',),
 ('Transport Equipment and Technologies',),
 ('Aviation, Rocket, and Space Technology',),
 ('Air Navigation and Operation of Aviation, Rocket and Space Technology',),
 ('Shipbuilding and Water Transport Technologies',),
 ('Technical Management',),
 ('Nanotechnology',),
 ('Light Industry Technologies',),
 ('Fundamental Medicine',),
 ('Clinical Medicine',),
 ('Health Sciences and Preventive Healthcare',),
 ('Pharmacy',),
 ('Nursing',),
 ('Agriculture, Forestry, and Fisheries',),
 ('Veterinary Medicine and Zootechnics',),
 ('Psychology',),
 ('Economics and Management',),
 ('Sociology and Social Services',),
 ('Jurisprudence',),
 ('Political Science and Regional Studies',),
 ('Mass Media and Information',),
 ('Service and Tourism',),
 ('Education Sciences and Pedagogy',),
 ('Linguistics and Philology',),
 ('History and Archaeology',),
 ('Philosophy, Ethics, and Religious Studies',),
 ('Theology',),
 ('Physical Education and Sports',),
 ('Art History',),
 ('Cultural Studies and Socio-Cultural Projects',),
 ('Performing Arts and Literary Creativity',),
 ('Musical Art',),
 ('Design and Restoration',),
 ('Film and Screen Arts',),
 ('Military Management',),
 ('Oriental and African Studies',)]

In [18]:
%%sql 

SELECT `Group of Professions`, SUM(`Number of Students`)
FROM university_admission_russia
WHERE `Group of Professions` = 'Computer Science'
LIMIT 5

 * mysql+pymysql://root:***@127.0.0.1:3306/uni_admission
1 rows affected.

[('Computer Science', Decimal('61447'))]

The total number of students offering Computer Science in the Uni.

In [19]:
%%sql 

SELECT `Group of Professions`, SUM(`Number of Applications`)
FROM university_admission_russia
WHERE `Group of Professions` = 'Computer Science'
LIMIT 5

 * mysql+pymysql://root:***@127.0.0.1:3306/uni_admission
1 rows affected.

[('Computer Science', Decimal('574041'))]

The total number of students application for Computer Science in the Uni.

In [5]:
%%sql 

SELECT Year, `Group of Professions`, SUM(`Number of Students`)
FROM university_admission_russia
GROUP BY `Group of Professions`  = 'Computer Science'

 * mysql+pymysql://root:***@127.0.0.1:3306/uni_admission
(pymysql.err.OperationalError) (1055, "Expression #1 of SELECT list is not in GROUP BY clause and contains nonaggregated column 'uni_admission.university_admission_russia.Year' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by")
[SQL: SELECT Year, `Group of Professions`, SUM(`Number of Students`)
FROM university_admission_russia
GROUP BY `Group of Professions`]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [7]:
%%sql 

SELECT `Group of Professions`, Year, SUM(`Number of Students`)
FROM university_admission_russia
GROUP BY  Year,`Group of Professions`= 'Computer Science`

 * mysql+pymysql://root:***@127.0.0.1:3306/uni_admission
570 rows affected.

[('Mathematics and Mechanics', 2014, Decimal('9790')),
 ('Computer Science', 2014, Decimal('4012')),
 ('Physics and Astronomy', 2014, Decimal('6506')),
 ('Chemistry', 2014, Decimal('4269')),
 ('Earth Science', 2014, Decimal('9128')),
 ('Biological Sciences', 2014, Decimal('5833')),
 ('Architecture', 2014, Decimal('4965')),
 ('Construction Equipment and Technologies', 2014, Decimal('54705')),
 ('Information Technology', 2014, Decimal('54245')),
 ('Information Security', 2014, Decimal('5774')),
 ('Electronics, and Radio Engineering and Communication Systems', 2014, Decimal('21192')),
 ('Photonics, Instrument Engineering, Optical and Biotechnical Technologies', 2014, Decimal('5776')),
 ('Electrical and Thermal Power Engineering', 2014, Decimal('36580')),
 ('Nuclear Energy and Technology', 2014, Decimal('2181')),
 ('Mechanical Engineering', 2014, Decimal('43581')),
 ('Physics and Technical Sciences and Technologies', 2014, Decimal('1479')),
 ('Weaponry and Military Technology', 2014, Decimal('675')),
 ('Chemical Technologies', 2014, Decimal('12396')),
 ('Industrial Ecology and Biotechnology', 2014, Decimal('28012')),
 ('Industrial Safety and Environmental Management', 2014, Decimal('12767')),
 ('Geology, Mining, Oil and Gas Engineering and Geodesy', 2014, Decimal('29921')),
 ('Material Technology', 2014, Decimal('13018')),
 ('Transport Equipment and Technologies', 2014, Decimal('65776')),
 ('Aviation, Rocket, and Space Technology', 2014, Decimal('5296')),
 ('Air Navigation and Operation of Aviation, Rocket and Space Technology', 2014, Decimal('4192')),
 ('Shipbuilding and Water Transport Technologies', 2014, Decimal('12182')),
 ('Technical Management', 2014, Decimal('12432')),
 ('Nanotechnology', 2014, Decimal('827')),
 ('Light Industry Technologies', 2014, Decimal('7144')),
 ('Fundamental Medicine', 2014, Decimal('445')),
 ('Clinical Medicine', 2014, Decimal('38292')),
 ('Health Sciences and Preventive Healthcare', 2014, Decimal('1606')),
 ('Pharmacy', 2014, Decimal('4014')),
 ('Nursing', 2014, Decimal('29565')),
 ('Agriculture, Forestry, and Fisheries', 2014, Decimal('49265')),
 ('Veterinary Medicine and Zootechnics', 2014, Decimal('13240')),
 ('Psychology', 2014, Decimal('4952')),
 ('Economics and Management', 2014, Decimal('88918')),
 ('Sociology and Social Services', 2014, Decimal('10175')),
 ('Jurisprudence', 2014, Decimal('22314')),
 ('Political Science and Regional Studies', 2014, Decimal('3795')),
 ('Mass Media and Information', 2014, Decimal('5427')),
 ('Service and Tourism', 2014, Decimal('23913')),
 ('Education Sciences and Pedagogy', 2014, Decimal('96946')),
 ('Linguistics and Philology', 2014, Decimal('9683')),
 ('History and Archaeology', 2014, Decimal('7686')),
 ('Philosophy, Ethics, and Religious Studies', 2014, Decimal('1106')),
 ('Theology', 2014, Decimal('287')),
 ('Physical Education and Sports', 2014, Decimal('16505')),
 ('Art History', 2014, Decimal('573')),
 ('Cultural Studies and Socio-Cultural Projects', 2014, Decimal('11457')),
 ('Performing Arts and Literary Creativity', 2014, Decimal('2730')),
 ('Musical Art', 2014, Decimal('12873')),
 ('Design and Restoration', 2014, Decimal('12028')),
 ('Film and Screen Arts', 2014, Decimal('866')),
 ('Military Management', 2014, Decimal('1')),
 ('Oriental and African Studies', 2014, Decimal('0')),
 ('Mathematics and Mechanics', 2015, Decimal('11195')),
 ('Computer Science', 2015, Decimal('4399')),
 ('Physics and Astronomy', 2015, Decimal('7362')),
 ('Chemistry', 2015, Decimal('4465')),
 ('Earth Science', 2015, Decimal('9999')),
 ('Biological Sciences', 2015, Decimal('6395')),
 ('Architecture', 2015, Decimal('5325')),
 ('Construction Equipment and Technologies', 2015, Decimal('55177')),
 ('Information Technology', 2015, Decimal('58252')),
 ('Information Security', 2015, Decimal('6368')),
 ('Electronics, and Radio Engineering and Communication Systems', 2015, Decimal('22760')),
 ('Photonics, Instrument Engineering, Optical and Biotechnical Technologies', 2015, Decimal('6327')),
 ('Electrical and Thermal Power Engineering', 2015, Decimal('38160')),
 ('Nuclear Energy and Technology', 2015, Decimal('2187')),
 ('Mechanical Engineering', 2015, Decimal('45705')),
 ('Physics and Technical Sciences and Technologies', 2015, Decimal('1446')),
 ('Weaponry and Military Technology', 2015, Decimal('772')),
 ('Chemical Technologies', 2015, Decimal('14504')),
 ('Industrial Ecology and Biotechnology', 2015, Decimal('28665')),
 ('Industrial Safety and Environmental Management', 2015, Decimal('14236')),
 ('Geology, Mining, Oil and Gas Engineering and Geodesy', 2015, Decimal('30599')),
 ('Material Technology', 2015, Decimal('13250')),
 ('Transport Equipment and Technologies', 2015, Decimal('68346')),
 ('Aviation, Rocket, and Space Technology', 2015, Decimal('5797')),
 ('Air Navigation and Operation of Aviation, Rocket and Space Technology', 2015, Decimal('4091')),
 ('Shipbuilding and Water Transport Technologies', 2015, Decimal('12138')),
 ('Technical Management', 2015, Decimal('13946')),
 ('Nanotechnology', 2015, Decimal('1026')),
 ('Light Industry Technologies', 2015, Decimal('6519')),
 ('Fundamental Medicine', 2015, Decimal('438')),
 ('Clinical Medicine', 2015, Decimal('38333')),
 ('Health Sciences and Preventive Healthcare', 2015, Decimal('1408')),
 ('Pharmacy', 2015, Decimal('4465')),
 ('Nursing', 2015, Decimal('29416')),
 ('Agriculture, Forestry, and Fisheries', 2015, Decimal('50825')),
 ('Veterinary Medicine and Zootechnics', 2015, Decimal('13224')),
 ('Psychology', 2015, Decimal('4746')),
 ('Economics and Management', 2015, Decimal('88457')),
 ('Sociology and Social Services', 2015, Decimal('10941')),
 ('Jurisprudence', 2015, Decimal('24156')),
 ('Political Science and Regional Studies', 2015, Decimal('4310')),
 ('Mass Media and Information', 2015, Decimal('5789')),
 ('Service and Tourism', 2015, Decimal('24495')),
 ('Education Sciences and Pedagogy', 2015, Decimal('99829')),
 ('Linguistics and Philology', 2015, Decimal('10778')),
 ('History and Archaeology', 2015, Decimal('7934')),
 ('Philosophy, Ethics, and Religious Studies', 2015, Decimal('1219')),
 ('Theology', 2015, Decimal('255')),
 ('Physical Education and Sports', 2015, Decimal('16884')),
 ('Art History', 2015, Decimal('692')),
 ('Cultural Studies and Socio-Cultural Projects', 2015, Decimal('11575')),
 ('Performing Arts and Literary Creativity', 2015, Decimal('2716')),
 ('Musical Art', 2015, Decimal('12650')),
 ('Design and Restoration', 2015, Decimal('12463')),
 ('Film and Screen Arts', 2015, Decimal('957')),
 ('Military Management', 2015, Decimal('0')),
 ('Oriental and African Studies', 2015, Decimal('0')),
 ('Mathematics and Mechanics', 2016, Decimal('12828')),
 ('Computer Science', 2016, Decimal('5472')),
 ('Physics and Astronomy', 2016, Decimal('7883')),
 ('Chemistry', 2016, Decimal('5217')),
 ('Earth Science', 2016, Decimal('12147')),
 ('Biological Sciences', 2016, Decimal('8274')),
 ('Architecture', 2016, Decimal('9687')),
 ('Construction Equipment and Technologies', 2016, Decimal('108120')),
 ('Information Technology', 2016, Decimal('99920')),
 ('Information Security', 2016, Decimal('10487')),
 ('Electronics, and Radio Engineering and Communication Systems', 2016, Decimal('31389')),
 ('Photonics, Instrument Engineering, Optical and Biotechnical Technologies', 2016, Decimal('7480')),
 ('Electrical and Thermal Power Engineering', 2016, Decimal('66569')),
 ('Nuclear Energy and Technology', 2016, Decimal('2480')),
 ('Mechanical Engineering', 2016, Decimal('98538')),
 ('Physics and Technical Sciences and Technologies', 2016, Decimal('1827')),
 ('Weaponry and Military Technology', 2016, Decimal('771')),
 ('Chemical Technologies', 2016, Decimal('21147')),
 ('Industrial Ecology and Biotechnology', 2016, Decimal('80014')),
 ('Industrial Safety and Environmental Management', 2016, Decimal('23738')),
 ('Geology, Mining, Oil and Gas Engineering and Geodesy', 2016, Decimal('61728')),
 ('Material Technology', 2016, Decimal('16051')),
 ('Transport Equipment and Technologies', 2016, Decimal('138463')),
 ('Aviation, Rocket, and Space Technology', 2016, Decimal('7269')),
 ('Air Navigation and Operation of Aviation, Rocket and Space Technology', 2016, Decimal('6035')),
 ('Shipbuilding and Water Transport Technologies', 2016, Decimal('20001')),
 ('Technical Management', 2016, Decimal('18965')),
 ('Nanotechnology', 2016, Decimal('1288')),
 ('Light Industry Technologies', 2016, Decimal('18709')),
 ('Fundamental Medicine', 2016, Decimal('933')),
 ('Clinical Medicine', 2016, Decimal('74063')),
 ('Health Sciences and Preventive Healthcare', 2016, Decimal('2086')),
 ('Pharmacy', 2016, Decimal('17758')),
 ('Nursing', 2016, Decimal('51484')),
 ('Agriculture, Forestry, and Fisheries', 2016, Decimal('82435')),
 ('Veterinary Medicine and Zootechnics', 2016, Decimal('17727')),
 ('Psychology', 2016, Decimal('18357')),
 ('Economics and Management', 2016, Decimal('345273')),
 ('Sociology and Social Services', 2016, Decimal('15110')),
 ('Jurisprudence', 2016, Decimal('194732')),
 ('Political Science and Regional Studies', 2016, Decimal('12659')),
 ('Mass Media and Information', 2016, Decimal('22587')),
 ('Service and Tourism', 2016, Decimal('53565')),
 ('Education Sciences and Pedagogy', 2016, Decimal('163122')),
 ('Linguistics and Philology', 2016, Decimal('25668')),
 ('History and Archaeology', 2016, Decimal('13869')),
 ('Philosophy, Ethics, and Religious Studies', 2016, Decimal('1962')),
 ('Theology', 2016, Decimal('1451')),
 ('Physical Education and Sports', 2016, Decimal('26290')),
 ('Art History', 2016, Decimal('1977')),
 ('Cultural Studies and Socio-Cultural Projects', 2016, Decimal('15706')),
 ('Performing Arts and Literary Creativity', 2016, Decimal('4759')),
 ('Musical Art', 2016, Decimal('14684')),
 ('Design and Restoration', 2016, Decimal('26332')),
 ('Film and Screen Arts', 2016, Decimal('2104')),
 ('Military Management', 2016, Decimal('10')),
 ('Oriental and African Studies', 2016, Decimal('0')),
 ('Mathematics and Mechanics', 2017, Decimal('13344')),
 ('Computer Science', 2017, Decimal('5879')),
 ('Physics and Astronomy', 2017, Decimal('8173')),
 ('Chemistry', 2017, Decimal('5560')),
 ('Earth Science', 2017, Decimal('11664')),
 ('Biological Sciences', 2017, Decimal('8446')),
 ('Architecture', 2017, Decimal('9798')),
 ('Construction Equipment and Technologies', 2017, Decimal('108492')),
 ('Information Technology', 2017, Decimal('106418')),
 ('Information Security', 2017, Decimal('12044')),
 ('Electronics, and Radio Engineering and Communication Systems', 2017, Decimal('31930')),
 ('Photonics, Instrument Engineering, Optical and Biotechnical Technologies', 2017, Decimal('7301')),
 ('Electrical and Thermal Power Engineering', 2017, Decimal('65795')),
 ('Nuclear Energy and Technology', 2017, Decimal('2509')),
 ('Mechanical Engineering', 2017, Decimal('99756')),
 ('Physics and Technical Sciences and Technologies', 2017, Decimal('1970')),
 ('Weaponry and Military Technology', 2017, Decimal('824')),
 ('Chemical Technologies', 2017, Decimal('21861')),
 ('Industrial Ecology and Biotechnology', 2017, Decimal('49289')),
 ('Industrial Safety and Environmental Management', 2017, Decimal('23774')),
 ('Geology, Mining, Oil and Gas Engineering and Geodesy', 2017, Decimal('61922')),
 ('Material Technology', 2017, Decimal('15252')),
 ('Transport Equipment and Technologies', 2017, Decimal('136058')),
 ('Aviation, Rocket, and Space Technology', 2017, Decimal('7435')),
 ('Air Navigation and Operation of Aviation, Rocket and Space Technology', 2017, Decimal('6374')),
 ('Shipbuilding and Water Transport Technologies', 2017, Decimal('20839')),
 ('Technical Management', 2017, Decimal('18877')),
 ('Nanotechnology', 2017, Decimal('1303')),
 ('Light Industry Technologies', 2017, Decimal('17487')),
 ('Fundamental Medicine', 2017, Decimal('939')),
 ('Clinical Medicine', 2017, Decimal('76167')),
 ('Health Sciences and Preventive Healthcare', 2017, Decimal('2217')),
 ('Pharmacy', 2017, Decimal('18973')),
 ('Nursing', 2017, Decimal('52684')),
 ('Agriculture, Forestry, and Fisheries', 2017, Decimal('82693')),
 ('Veterinary Medicine and Zootechnics', 2017, Decimal('18869')),
 ('Psychology', 2017, Decimal('16531')),
 ('Economics and Management', 2017, Decimal('316916')),
 ('Sociology and Social Services', 2017, Decimal('14911')),
 ('Jurisprudence', 2017, Decimal('199244')),
 ('Political Science and Regional Studies', 2017, Decimal('13768')),
 ('Mass Media and Information', 2017, Decimal('23308')),
 ('Service and Tourism', 2017, Decimal('84709')),
 ('Education Sciences and Pedagogy', 2017, Decimal('165678')),
 ('Linguistics and Philology', 2017, Decimal('26418')),
 ('History and Archaeology', 2017, Decimal('13565')),
 ('Philosophy, Ethics, and Religious Studies', 2017, Decimal('1967')),
 ('Theology', 2017, Decimal('1682')),
 ('Physical Education and Sports', 2017, Decimal('27351')),
 ('Art History', 2017, Decimal('1838')),
 ('Cultural Studies and Socio-Cultural Projects', 2017, Decimal('15332')),
 ('Performing Arts and Literary Creativity', 2017, Decimal('5079')),
 ('Musical Art', 2017, Decimal('15370')),
 ('Design and Restoration', 2017, Decimal('27137')),
 ('Film and Screen Arts', 2017, Decimal('2090')),
 ('Military Management', 2017, Decimal('12')),
 ('Oriental and African Studies', 2017, Decimal('0')),
 ('Mathematics and Mechanics', 2018, Decimal('14162')),
 ('Computer Science', 2018, Decimal('5939')),
 ('Physics and Astronomy', 2018, Decimal('7974')),
 ('Chemistry', 2018, Decimal('6094')),
 ('Earth Science', 2018, Decimal('12428')),
 ('Biological Sciences', 2018, Decimal('8692')),
 ('Architecture', 2018, Decimal('10085')),
 ('Construction Equipment and Technologies', 2018, Decimal('105835')),
 ('Information Technology', 2018, Decimal('119254')),
 ('Information Security', 2018, Decimal('13423')),
 ('Electronics, and Radio Engineering and Communication Systems', 2018, Decimal('32491')),
 ('Photonics, Instrument Engineering, Optical and Biotechnical Technologies', 2018, Decimal('7265')),
 ('Electrical and Thermal Power Engineering', 2018, Decimal('64563')),
 ('Nuclear Energy and Technology', 2018, Decimal('2433')),
 ('Mechanical Engineering', 2018, Decimal('97744')),
 ('Physics and Technical Sciences and Technologies', 2018, Decimal('1939')),
 ('Weaponry and Military Technology', 2018, Decimal('881')),
 ('Chemical Technologies', 2018, Decimal('22615')),
 ('Industrial Ecology and Biotechnology', 2018, Decimal('42238')),
 ('Industrial Safety and Environmental Management', 2018, Decimal('24231')),
 ('Geology, Mining, Oil and Gas Engineering and Geodesy', 2018, Decimal('62677')),
 ('Material Technology', 2018, Decimal('14938')),
 ('Transport Equipment and Technologies', 2018, Decimal('138029')),
 ('Aviation, Rocket, and Space Technology', 2018, Decimal('7458')),
 ('Air Navigation and Operation of Aviation, Rocket and Space Technology', 2018, Decimal('7468')),
 ('Shipbuilding and Water Transport Technologies', 2018, Decimal('20756')),
 ('Technical Management', 2018, Decimal('20276')),
 ('Nanotechnology', 2018, Decimal('1369')),
 ('Light Industry Technologies', 2018, Decimal('14950')),
 ('Fundamental Medicine', 2018, Decimal('1003')),
 ('Clinical Medicine', 2018, Decimal('80243')),
 ('Health Sciences and Preventive Healthcare', 2018, Decimal('2220')),
 ('Pharmacy', 2018, Decimal('18737')),
 ('Nursing', 2018, Decimal('55446')),
 ('Agriculture, Forestry, and Fisheries', 2018, Decimal('84298')),
 ('Veterinary Medicine and Zootechnics', 2018, Decimal('20906')),
 ('Psychology', 2018, Decimal('19709')),
 ('Economics and Management', 2018, Decimal('318627')),
 ('Sociology and Social Services', 2018, Decimal('14933')),
 ('Jurisprudence', 2018, Decimal('182648')),
 ('Political Science and Regional Studies', 2018, Decimal('13339')),
 ('Mass Media and Information', 2018, Decimal('24914')),
 ('Service and Tourism', 2018, Decimal('95175')),
 ('Education Sciences and Pedagogy', 2018, Decimal('171660')),
 ('Linguistics and Philology', 2018, Decimal('28911')),
 ('History and Archaeology', 2018, Decimal('14159')),
 ('Philosophy, Ethics, and Religious Studies', 2018, Decimal('1961')),
 ('Theology', 2018, Decimal('1835')),
 ('Physical Education and Sports', 2018, Decimal('28487')),
 ('Art History', 2018, Decimal('1928')),
 ('Cultural Studies and Socio-Cultural Projects', 2018, Decimal('15424')),
 ('Performing Arts and Literary Creativity', 2018, Decimal('4721')),
 ('Musical Art', 2018, Decimal('15341')),
 ('Design and Restoration', 2018, Decimal('29981')),
 ('Film and Screen Arts', 2018, Decimal('2043')),
 ('Military Management', 2018, Decimal('15')),
 ('Oriental and African Studies', 2018, Decimal('1175')),
 ('Mathematics and Mechanics', 2019, Decimal('14580')),
 ('Computer Science', 2019, Decimal('6354')),
 ('Physics and Astronomy', 2019, Decimal('7861')),
 ('Chemistry', 2019, Decimal('5870')),
 ('Earth Science', 2019, Decimal('11979')),
 ('Biological Sciences', 2019, Decimal('8651')),
 ('Architecture', 2019, Decimal('10335')),
 ('Construction Equipment and Technologies', 2019, Decimal('104891')),
 ('Information Technology', 2019, Decimal('131873')),
 ('Information Security', 2019, Decimal('15142')),
 ('Electronics, and Radio Engineering and Communication Systems', 2019, Decimal('32270')),
 ('Photonics, Instrument Engineering, Optical and Biotechnical Technologies', 2019, Decimal('7071')),
 ('Electrical and Thermal Power Engineering', 2019, Decimal('64358')),
 ('Nuclear Energy and Technology', 2019, Decimal('2253')),
 ('Mechanical Engineering', 2019, Decimal('100890')),
 ('Physics and Technical Sciences and Technologies', 2019, Decimal('1796')),
 ('Weaponry and Military Technology', 2019, Decimal('881')),
 ('Chemical Technologies', 2019, Decimal('24015')),
 ('Industrial Ecology and Biotechnology', 2019, Decimal('40117')),
 ('Industrial Safety and Environmental Management', 2019, Decimal('24272')),
 ('Geology, Mining, Oil and Gas Engineering and Geodesy', 2019, Decimal('62266')),
 ('Material Technology', 2019, Decimal('14552')),
 ('Transport Equipment and Technologies', 2019, Decimal('138339')),
 ('Aviation, Rocket, and Space Technology', 2019, Decimal('7545')),
 ('Air Navigation and Operation of Aviation, Rocket and Space Technology', 2019, Decimal('7757')),
 ('Shipbuilding and Water Transport Technologies', 2019, Decimal('20144')),
 ('Technical Management', 2019, Decimal('19689')),
 ('Nanotechnology', 2019, Decimal('1343')),
 ('Light Industry Technologies', 2019, Decimal('15247')),
 ('Fundamental Medicine', 2019, Decimal('1285')),
 ('Clinical Medicine', 2019, Decimal('85152')),
 ('Health Sciences and Preventive Healthcare', 2019, Decimal('2353')),
 ('Pharmacy', 2019, Decimal('18208')),
 ('Nursing', 2019, Decimal('58232')),
 ('Agriculture, Forestry, and Fisheries', 2019, Decimal('84376')),
 ('Veterinary Medicine and Zootechnics', 2019, Decimal('22560')),
 ('Psychology', 2019, Decimal('20297')),
 ('Economics and Management', 2019, Decimal('305416')),
 ('Sociology and Social Services', 2019, Decimal('14557')),
 ('Jurisprudence', 2019, Decimal('191487')),
 ('Political Science and Regional Studies', 2019, Decimal('12593')),
 ('Mass Media and Information', 2019, Decimal('27534')),
 ('Service and Tourism', 2019, Decimal('99832')),
 ('Education Sciences and Pedagogy', 2019, Decimal('174670')),
 ('Linguistics and Philology', 2019, Decimal('30501')),
 ('History and Archaeology', 2019, Decimal('13667')),
 ('Philosophy, Ethics, and Religious Studies', 2019, Decimal('1832')),
 ('Theology', 2019, Decimal('1983')),
 ('Physical Education and Sports', 2019, Decimal('29399')),
 ('Art History', 2019, Decimal('2136')),
 ('Cultural Studies and Socio-Cultural Projects', 2019, Decimal('14652')),
 ('Performing Arts and Literary Creativity', 2019, Decimal('4680')),
 ('Musical Art', 2019, Decimal('15057')),
 ('Design and Restoration', 2019, Decimal('32732')),
 ('Film and Screen Arts', 2019, Decimal('1974')),
 ('Military Management', 2019, Decimal('12')),

In [12]:
%%sql 

SELECT `Group of Professions`, Year, SUM(`Number of Students`)
FROM university_admission_russia
GROUP BY Year, `Group of Professions`
HAVING `Group of Professions`= 'Computer Science`

 * mysql+pymysql://root:***@127.0.0.1:3306/uni_admission
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''Computer Science`' at line 4")
[SQL: SELECT `Group of Professions`, Year, SUM(`Number of Students`)
FROM university_admission_russia
GROUP BY Year, `Group of Professions`
HAVING `Group of Professions`= 'Computer Science`]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [17]:
%%sql 
SELECT Year, `Group of Professions`, SUM(`Number of Students`)
FROM university_admission_russia
GROUP BY Year, `Group of Professions`
HAVING `Group of Professions` = 'Computer Science';

 * mysql+pymysql://root:***@127.0.0.1:3306/uni_admission
10 rows affected.

[(2014, 'Computer Science', Decimal('4012')),
 (2015, 'Computer Science', Decimal('4399')),
 (2016, 'Computer Science', Decimal('5472')),
 (2017, 'Computer Science', Decimal('5879')),
 (2018, 'Computer Science', Decimal('5939')),
 (2019, 'Computer Science', Decimal('6354')),
 (2020, 'Computer Science', Decimal('6397')),
 (2021, 'Computer Science', Decimal('6940')),
 (2022, 'Computer Science', Decimal('7760')),
 (2023, 'Computer Science', Decimal('8295'))]

In [19]:
%%sql 
SELECT Year, `Group of Professions` as Department, SUM(`Number of Students`) as Total_No_students
FROM university_admission_russia
GROUP BY Year, `Group of Professions`
HAVING `Group of Professions` = 'Computer Science';

 * mysql+pymysql://root:***@127.0.0.1:3306/uni_admission
10 rows affected.

[(2014, 'Computer Science', Decimal('4012')),
 (2015, 'Computer Science', Decimal('4399')),
 (2016, 'Computer Science', Decimal('5472')),
 (2017, 'Computer Science', Decimal('5879')),
 (2018, 'Computer Science', Decimal('5939')),
 (2019, 'Computer Science', Decimal('6354')),
 (2020, 'Computer Science', Decimal('6397')),
 (2021, 'Computer Science', Decimal('6940')),
 (2022, 'Computer Science', Decimal('7760')),
 (2023, 'Computer Science', Decimal('8295'))]